  i{
      width: 27px;
      height: 27px;

  }
  
  .todo-list-item{
    display: flex;
   
}
li.list-group-item{
    margin-bottom: 10px;
    background-color: #262d48;
    color: #8891ac;
    
}

.todo-list-item button {
    width: 53px;
    height: 45px;
    padding: 0;
    margin-right: 20px;
    opacity: 0.7;
  }
.todo-list-item-label{
    width: 85%;
    margin: auto 0 auto 1.25rem;
    position: inherit;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}

.todo-list-item.done .todo-list-item-label{
    text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label{
    font-weight: bold;
    color: tomato;
}

.btn.btn-outline-primary.btn-lg:hover{
    transition: all 0.5s;
    background-color: #d8748a;
} 
  

.btn.btn-outline-danger.btn-lg:hover{
    transition: all 0.5s;
    background-color: #8d56c8;
} 


@media (max-width:550px){
    li.list-group-item{
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10px;
        background-color: #262d48;
        color: #8891ac;
        
    }
    .todo-list-item{
        height: 40px;
    }
    span.todo-list-item-label{
        font-size: 18px;
    }  
}