i{
      width: 27px;
      height: 27px;

  }
  .todo-list-item{
    display: grid;
  }
li.list-group-item{
    display: grid;
    margin-bottom: 15px;
    background-color: #262d48;
    color: #8891ac;
    
}

.todo-list-item button {
    width: 53px;
    height: 45px;
    padding: 0;
    margin-right: 20px;
    opacity: 0.7;
    border-radius: 5px;
  }
.todo-list-item-label{
    width: 85%;
    margin: auto 0 auto 1.25rem;
    position: inherit;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
   
}

.todo-list-item.important{
    font-weight: bold;
    color: #d8748a;
}

.todo-list-item.done .todo-list-item-label{
    text-decoration: line-through;
}


.btn.btn-outline-primary.btn-lg:hover{
    transition: all 0.5s;
    background-color: #d8748a;
    animation: pulsate-bck 0.5s ease-in-out infinite both;
} 
  

.btn.btn-outline-danger.btn-lg:hover{
    transition: all 0.5s;
    background-color: #8d56c8;
    animation: pulsate-bck 0.5s ease-in-out infinite both;
    
} 

  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


@media screen and (max-width:550px){
    li.list-group-item{
        
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10px;
        background-color: #262d48;
        color: #8891ac;  
      
    }

  
    span.todo-list-item-label{
      display: block;
      font-size: 16px; 
      margin-left: 0;
      width: auto;
      margin-right: 10px;
      font-family: 'Rubik', sans-serif;
    }  

    .btn.btn-outline-primary.btn-lg:hover{
      transition: all 0.5s;
      background-color: #d8748a;
      animation: pulsate-bck 0.5s ease-in-out infinite both;
  } 
    
  
  .btn.btn-outline-danger.btn-lg:hover{
      transition: all 0.5s;
      background-color: #8d56c8;
      animation: pulsate-bck 0.5s ease-in-out infinite both;
      
  } 

  .todo-list-item button{
    width: 45px;
    height: 45px;
    padding: 0;
    margin:  auto;
  }

  
  i::before{
    margin: 0 auto;
  }
}

.disabled{
  display: none;
}

.todo-list-item.disabled {
    display: none;
}

.form-addinfo-item > input.form-control{
  background-color: #232942;
  border:none;
  height: auto;
  width: 90%;
  margin: 5px 0px 0px 1.25em;
  border-radius: 5px;
}

.form-addinfo-item > input.form-control:focus{
  background-color: #232942;
  color: #8891ac
}


