body{
   background: url(../app/img/trianglify.png);
   font-family: 'Rubik', sans-serif;
    min-height: 1000px;
}


.react-contextmenu{
    top: 70px !important;
    left: 200px !important;
}
.todo-modal-close{
    margin: 0 auto;
    display: flex;
    margin-bottom: 40px;
    width: 300px;
    height: 50px;
    background-color: rgb(216, 116, 138);
    border-radius: 5px;
}

.todo-modal-close a{
    color: white;
    text-decoration: none;
    display: flex;
    position: inherit;
    margin: 0 auto;
}
   

.btn:focus,
.btn:active {
  box-shadow: none;
}
.todo-app{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 2rem auto 0 auto;
}

.top-panel{
    padding: 20px 0px 15px 0px;
}


@media (max-width: 550px) {
    .top-panel{
        flex-direction: column;
        align-self: center;
        width: 80%;
    }
    .search-input{
        margin-bottom: 20px;
    }
    span.todo-list-item-label{
        font-size: 24px;
    }
    .list-group-item i{
        font-size:30px;
    }
    
}

@media (max-width: 360px){
    span.todo-list-item-label{
        font-size: 24px;
    }
    .list-group-item i{
        font-size:30px;
    }
}
