body{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(123,176,214,1) 100%);
    background-size: 100% 200%;    
    font-family: 'Rubik', sans-serif;

}

.btn:focus,
.btn:active {
  box-shadow: none;
}
.todo-app{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 2rem auto 0 auto;
}

.top-panel{
    padding: 20px 0px 15px 0px;
}


@media (max-width: 550px) {
    .top-panel{
        flex-direction: column;
        align-self: center;
        width: 80%;
    }
    .search-input{
        margin-bottom: 20px;
    }
    span.todo-list-item-label{
        font-size: 24px;
    }
    .list-group-item i{
        font-size:30px;
    }
    
}

@media (max-width: 360px){
    span.todo-list-item-label{
        font-size: 24px;
    }
    .list-group-item i{
        font-size:30px;
    }
}
