.start-button{
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid aquamarine;
  position: relative;
  width: 292px;
  margin-left: 11%;
  margin-top: 10px;
  
}

.start-button:hover{
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.15); 
  background-color: aliceblue;
}