.item-add-form input{
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
    border: none !important;
    margin-right: 10px;
    width: 75%;
    background-color: #ffffff;
    color: #8891ac;
    
}

.item-add-form {
    margin-top: 15px;
    flex-direction: row;
    
    
}

button.btn.btn-light{
    width: 35%;
    background-color: rgb(216, 116, 138);
    color: white;
    border-radius: 5px;
    
}

button.btn.btn-light:hover{
    transition: 0.5s all;
    color: white ;
    background-color: rgb(216, 116, 138);
};

input.form-control:active{
    width: 75%;
    background-color: #ffffff;
    color: #8891ac;
    border: none;    
    
}

.item-add-form input:focus{
    width: 75%;
    background-color: #ffffff;
    color: #8891ac;
    border: none;  
}

@media (max-width:550px){
    form.item-add-form{
        width: auto;
        margin: 0 20px 0 20px;
        margin-top: 20px;
        
    }
    .item-add-form input{
        width: 100%;
    }

    button.btn.btn-light{
        font-size: 14px;
    }
    input.form-control{
        height: auto;
        font-size: 14px;
    }
}


