

.todo-modal{
    display: grid !important;
    grid-template-rows: 1fr 1fr 2fr !important;
    height: -webkit-fill-available !important;
    display: contents !important;
    -webkit-animation:todo-modal-header 0.6s ease-out both;
    animation: todo-modal-header 0.6s ease-out both;
}

h2.todo-modal-header{
    margin: 20px 10px 20px 40px;
    font-size: 3rem;
    
}

.todo-modal-notes{
    display: flex;
    
} 



.todo-modal-notes textarea{
    align-items: stretch;
    width: 80%;
    height: 150px;
    background-color: #ffffff;
    color: #1c1c1d;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
    overflow: hidden;
    resize: none;
    border: none;
    font-size: 24px;
}

.todo-modal-timepicker{
    height: auto;
    margin: 10px 20px 20px 1px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    
}
.react-datepicker{
    top: 100px;
    right: 30px;
    position: absolute !important;
}



.picker__container__tab,.picker__container__include-time{
    background-color: #fff;
}

.react-datepicker__input-container{
    margin-right: 56px;
}

.todo-modal-notes textarea:focus{
    outline: none;
}

@media (max-width:550px){


    .todo-modal-header{
        margin: 20px 10px 20px 30px;
    }
    .todo-modal-close{
        left: 10px;
    }

    .todo-modal-notes textarea{
        margin-top: 20px;
    }
}

@-webkit-keyframes todo-modal-header {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes todo-modal-header {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }