a{
    position: absolute;
    top: 0;
}

.todo-modal{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr ;
}

.todo-modal-header{
    margin: 20px 10px 20px 55px;
}

.todo-modal-notes{
    display: flex;
} 

.todo-modal-notes textarea{
    align-items: stretch;
    width: 80%;
    height: 150px;
    background-color: #ffffff;
    color: #1c1c1d;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
    overflow: hidden;
    resize: none;
}

.todo-modal-timepicker{
    height: 100px;
    margin: 10px 20px 20px auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    
}

.picker__container__tab,.picker__container__include-time{
    background-color: #fff;
}

.react-datepicker__input-container{
    margin-right: 36px;
}
