.app-header{
    display: flex;
    flex-direction: column;
}

.app-header h1 {
  align-self: center;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  
  }
.app-header h5{
    font-size: 1.3em;
    color:  #ffffff;
    align-self: center;
    font-family: 'Poppins', sans-serif;
  
}
@media (max-width: 550px) {
  .app-header h1 {
    font-size: 52px;
 }

 .top-panel{
  width: 88%;
 }


}